@model grader.Models.Assessment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Assessment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="courseID" class="control-label"></label>
                <input asp-for="courseID" class="form-control" />
                <span asp-validation-for="courseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assessmentTotalMark" class="control-label"></label>
                <input asp-for="assessmentTotalMark" class="form-control" />
                <span asp-validation-for="assessmentTotalMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assessmentWeighting" class="control-label"></label>
                <input asp-for="assessmentWeighting" class="form-control" />
                <span asp-validation-for="assessmentWeighting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

