@model IEnumerable<grader.Models.Mark>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<h2>Assessment Marks</h2>

<br />
<table class="table">
    <thead>
        <tr>
                <th>
                    Student ID
                </th>
                <th>
                   Assessment ID
                </th>
                <th>
                    Mark Achieved
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.studentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assessmentID)
                </td>
                <td width="20%">
                    <div class="form-group">

                        <input type="text" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </td>

            </tr>
    } -->
        <tr>
            <td> 1319070 </td>
            <td> 1 </td>
            <td width="20%">
                <div class="form-group">

                    <input type="text" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td> 1036074 </td>
            <td> 1 </td>
            <td width="20%">
                <div class="form-group">

                    <input type="text" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td> 1049904 </td>
            <td> 1 </td>
            <td width="20%">
                <div class="form-group">

                    <input type="text" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br />
<br />

<form asp-action="Approve" >
    <input type="submit" value="Save Marks"/>
</form>


