@model grader.Models.ReportQuery

@{
    ViewData["Title"] = "Edit";
}
<br />
<br />
<h2>Edit</h2>
<h4>Offence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="reportQueryID" />
            <div class="form-group">
Student ID                <input asp-for="studentID" class="form-control" />
                <span asp-validation-for="studentID" class="text-danger"></span>
            </div>
            <div class="form-group">
Nature                <input asp-for="reportQueryNature" class="form-control" />
                <span asp-validation-for="reportQueryNature" class="text-danger"></span>
            </div>
            <div class="form-group">
Reason                <input asp-for="reportQueryReason" class="form-control" />
                <span asp-validation-for="reportQueryReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="reportQueryValid" /> Valid
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

