
@{
    ViewData["Title"] = "Approve";
}
<br />
<br />
<h2>Marks Updated Successfully</h2>
<br />
<form asp-action="Index" asp-controller="CCHome">
    <input type="submit" value="Home" />
</form>
