@model grader.Models.Mark

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Mark</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Assessment ID
            </th>
            <th>
                Mark Achieved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.studentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assessmentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.markAchieved)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.markID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="markID" />
            <div class="form-group">
                <label asp-for="studentID" class="control-label"></label>
                <input asp-for="studentID" class="form-control" />
                <span asp-validation-for="studentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assessmentID" class="control-label"></label>
                <input asp-for="assessmentID" class="form-control" />
                <span asp-validation-for="assessmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="markAchieved" class="control-label"></label>
                <input asp-for="markAchieved" class="form-control" />
                <span asp-validation-for="markAchieved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

