
@{
    ViewData["Title"] = "Approve";
}

<br />
<br />
<h2>Query Successfully Sent</h2>
<br />
<form asp-action="Index" asp-controller="StudentHome">
    <input type="submit" value="Home" />
</form>


